<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Node.js, Express, Pug
        // Google Font: Source Sans Pro
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
        // Font Awesome Icons
        link(rel="stylesheet", href="/plugins/fontawesome-free/css/all.min.css")
        //  Theme style
        link(rel="stylesheet", href="/dist/css/adminlte.min.css")
    body.hold-transition.sidebar-mini
        div.wrapper
            // Navbar
            nav.main-header.navbar.navbar-expand.navbar-light
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(data-widget="pushmenu", href="#", role="button")
                            i.fas.fa-bars
                    li.nav-item.d-none.d-sm-inline-block
                        a.nav-link(href="#") Home
                    li.nav-item.d-none.d-sm-inline-block
                        a.nav-link(href="#") Contact

                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(data-widget="navbar-search", href="#" role="button")
                            i.fas.fa-search

            // Main Sidebar Container
            aside.main-sidebar.sidebar-dark-primary.elevation-4
                a.brand-link(href="")
                    img.brand-image.img-circle.elevation-3(src="/dist/img/AdminLTELogo.png" alt="Admin LTE Logo" style="opacity: .8")
                    span.brand-text.font-weight-light Node.js Express Pug

                div.sidebar
                    div.user-panel.mt-3.pb-3.mb-3.d-flex
                        div.image
                            img.img-circle.elevation-2(src="/dist/img/user2-160x160.jpg" alt="User Image")
                        div.info
                            a.d-block(href="#") Nathaniel Valentino R
                    div.form-inline
                        div.input-group(data-widget="sidebar-search")
                            input.form-control.form-control-sidebar(type="search", placeholder="Search", aria-label="Search")
                            div.input-group-append
                                button.btn.btn-sidebar
                                    i.fas.fa-search.fa-fw
                    nav.mt-2
                        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview", role="menu", data-accordion="false")
                            li.nav-item
                                a.nav-link(href="/")
                                    i.nav-icon.fas.fa-tachometer-alt
                                    p Dashboard
                            li.nav-item
                                a.nav-link(href="/fam-card")
                                    i.nav-icon.fas.fa-building
                                    p Kartu keluarga
                            li.nav-item
                                a.nav-link(href="/citizen")
                                    i.nav-icon.fas.fa-id-card
                                    p Penduduk

            // Content Wrapper. Contains page content
            div.content-wrapper
                div.content-header
                    div.container-fluid
                        div.row.mb-2
                            div.col-sm-6
                                h1.m-0 Dashboard
                            div.col-sm-6
                                ol.breadcrumb.float-sm-right
                                    li.breadcrumb-item
                                        a(href="#") Home
                                    li.breadcrumb-item.active Starter Page
                div.content
                    div.container-fluid
                        div.card
                            div.card-body
                                h5.card-title Card title
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

            // Control Sidebar
            aside.control-sidebar.control-sidebar-dark
                div.p-3
                    h5 Title
                    p Sidebar content

            // Main Footer
            footer.main-footer
                div.float-right.d-none.d-sm-inline Anything you want
                strong Copyright &copy; 2024 All rights reserved
                    a(href="#") Node.js, Express, Pug


        // REQUIRED SCRIPTS
        // jQuery
        script(src="/plugins/jquery/jquery.min.js")
        //  Bootstrap 4
        script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
        // AdminLTE App
        script(src="/dist/js/adminlte.min.js")
        //  Extra JavaScript
