extends ../layouts/master

block content
div.content-header
    div.container-fluid
        div.row.mb-2
            div.col-sm-6
                h1.m-0 Dashboard
            div.col-sm-6
                ol.breadcrumb.float-sm-right
                    li.breadcrumb-item
                        a(href="#") Home
                    li.breadcrumb-item.active active Dashboard
div.content
    div.container-fluid
        div.card
            div.card-body
                h5.card-title Dashboard Page
                p.card-text Text in dashboard page
block add-js

block add-css